@import url('https://fonts.googleapis.com/css?family=Patua+One');

body{
  font-family: 'Patua One', cursive;
}

.container-fluid{
  padding: 0;
}

.row {
  margin: 0;
}

#logo {
  color: lightgrey;
  padding-left: 20px;
}

#menu {
  padding-right: 20px;
}

.navbar {
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 8px 0 8px 0;
}

.home-inner{
  background-image: url('https://d3w2mpp70f6o8z.cloudfront.net/media/images/Amazon-rainforest-trees-ThinkstockPhotos-Khlong.original.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 1500px) {
    .home-inner{
      background-size: 180%;
  }
}

@media only screen and (max-width: 860px) {
    .home-inner{
      background-size: 350%;
  }
}

.caption {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 35%;
  width: 50vw;
  text-align: center;
  margin-left: 25%;
}

#main-text {
  font-size: 4rem;

}

#timer {
  font-size: 6rem;
}

#timeline {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

}

#aboutus {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

#aboutus-content {
  width: 50vw;
}
