@import url('https://fonts.googleapis.com/css?family=Patua+One');

body{
  font-family: 'Patua One', cursive;
}

.navbar {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.home-inner{
  background-image: url('https://d3w2mpp70f6o8z.cloudfront.net/media/images/Amazon-rainforest-trees-ThinkstockPhotos-Khlong.original.jpg');
  height: 100vh;
  width: 100vw;
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

}

@media only screen and (max-width: 1500px) {
    .home-inner{
      background-size: 180%;
  }
}

@media only screen and (max-width: 860px) {
    .home-inner{
      background-size: 350%;
  }
}

.caption {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  top: 40%;
  width: 60vw;
  text-align: center;
  margin-left: 20%;
}

#main-text {
  font-size: 4rem;
}
