@import url("https://fonts.googleapis.com/css?family=Patua+One");

body {
  font-family: "Patua One", cursive;
  padding-top: 35px;
}

#logo {
  color: lightgrey;
}

.navbar {
  text-transform: uppercase;
  font-size: 1.3rem;
}

#timeline {
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#timeline h3 {
  text-align: center;
}

#timeline h4 {
  text-align: center;
  padding-bottom: 20px;
}

#timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: #fff;
}

#timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 600px;
  padding: 15px;
  background: #a9ad9b;
  border-radius: 15px;
}

#timeline ul li:nth-child(odd) div {
  left: 45px;
}

#timeline ul li:nth-child(even) div {
  left: -645px;
}

@media screen and (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }

  #timeline ul li div {
    width: calc(100vw - 91px);
  }

  #timeline ul li:nth-child(even) div {
    left: 45px;
  }
}
